/* exercise solution */

/* EX 1 */
.ex-1-square{
    transition:  2s;
}

.ex-1-square:hover{
    background-color: red;
}    


/* EX 2 */
.ex-2-square{
    transition: 2s;
}

.ex-2-square:active{
    width: 99%;
    
}


/* EX 3 */
.ex-3-square{
    transition:  0.5s;
}

.ex-3-square:hover{
    border-radius: 50%;
}


/* EX 4 */
.ex-4-square{
    transition: 1s;
}

.ex-4-square:hover{
    opacity: 0;
}


/* EX 5 */
.ex-5-square{
    transition: 1s;
}

.ex-5-square:hover{
    margin: 0;
    width: 100px;
    height: 100px;
}


/* EX 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* EX 7 */
.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover{
    filter: blur(2);
    filter: contrast(2);
}

/* EX 8 */
.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    filter: blur(2);
    filter: contrast(2);
    border-radius: 20%;
}

/* EX 9 */
.ex-9-img{
    transition: 2s;
}

.ex-9-img:hover{
    filter: blur(2);
    filter: contrast(2);
    border-radius: 20%;
    width: 250px;
    height: 250px;
}

/* EX 10 */
.ex-10-icon{
    animation: ruotated 1s linear infinite;
    transform: translate(-50%, -50%);
    
}

@keyframes ruotated {
    0% {
        transform:  rotate(0deg); /* Ruota il div da 0 gradi */
      }
      100% {
        transform:  rotate(360deg); /* Ruota il div a 360 gradi (una rotazione completa) */
      }
    
}

/* EX 11 */
.ex-11-icon:hover{
    animation: ruotated 1s linear infinite;
}

@keyframes ruotated {
    0% {
        transform:  rotate(0deg); /* Ruota il div da 0 gradi */
      }
      100% {
        transform:  rotate(360deg); /* Ruota il div a 360 gradi (una rotazione completa) */
      }
    
}

/* EX 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: move-it-up 1s linear infinite alternate ;
}

@keyframes move-it-up {
    0%{
        top: -10px;
        left: 10%;
    }
    100%{
        top: -10px;
        left: 50%;
    }
}


.ex-12-button:hover .ex-12-bottom-white{
    animation: move-it-down 1s linear infinite alternate ;
}

@keyframes move-it-down{
    0%{
        bottom: -10px;
        left: 50%;
    }
    100%{
        bottom: -10px;
        left: 10%;
    }
}

/* EX 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: move-it2-top 3s linear  ;
}

@keyframes move-it2-top {
    
    0%{
        top: -10px;
        left: 10%;
    }

    20%{
        top: -10px;
        left: 100%;
    }

    40%{
        top: 50px;
        left: 100%;
    }
    60%{
        top: 50px;
        left: 50%;
    }

    70%{
        top: 50px;
        left: 0; 
    }
    80%{
        top: 50px;
        left: -15px;
    }
   
    100%{
        top: -10px;
        left: -15px;
    }
}



.ex-13-button:hover .ex-13-bottom-white{
    animation: move-it2-bottom 3s  linear  ;
}

@keyframes move-it2-bottom {
    
    0%{
        bottom: -10px;
        right: 10%;
    }

    20%{
        bottom: -10px;
        right: 100%;
    }

    40%{
        bottom: 50px;
        right: 100%;
    }
    60%{
        bottom: 50px;
        right: 50%;
    }

    70%{
        bottom: 50px;
        right: 0; 
    }
    80%{
        bottom: 50px;
        right: -15px;
    }
   
    100%{
        bottom: -10px;
        right: -15px;
    }
}